/* Generics  */
body{
    font-family: 'Action, FreeDaFonts';
}

img{
    max-width: 100%;
}

a{
    display: block;
}

footer{
    background-color: #00439C;
}

/* Utils  */
.active-card{
    border: 2px solid #0172CE;
    border-radius: 20px;
    padding: 2px;
}

.active-img{
    opacity: 1;
    border-bottom: 2px solid #0172CE;
    padding: 20px;
}

/* Header  */
#sony-logo{
    width: 80px;
}

.navbar-chevronDown, .navbar-chevronDown-hover{
    width: 10px;
}

/* Modal  */
.modal{
    position: absolute;
    top: 20px;
    left: 0;
}

/* Jumbo section  */
#jumbo{
    background-image: url('./img/jumbo-bg.png');
    background-position: center;
    height: 650px;
}

.card-title{
    font-size: 37px;
}

/* It takes two section  */
#takes-two{
    background-image: url('./img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-size: cover;
    height: 650px;
}

/* Nuove uscite section  */
.nuove-uscite{
    background-color: #1f1f1f;
    color: white;
}

/* Ps plus section  */
.ps-plus{
    background-color: #BEBCBB;
}

#btn-ps-plus{
    background-color: rgba(225, 225, 225, 0.8)
}

/* PS Now section  */
.ps-now{
    background-color: #161C3B   ;
}

/* Social media section  */
.social-list{
    max-width: 500px;
}

/* Footer  */
#langage-globe{
    width: 20px;
}

#language{
    appearance: none;
}

#sie-logo{
    width: 150px;
}