/* Generics  */
body{
    font-family: 'Action, FreeDaFonts';
}

img{
    max-width: 100%;
}

a{
    display: block;
}

/* Utils  */
.active-card{
    border: 2px solid #0172CE;
    border-radius: 20px;
    padding: 2px;
}

.active-img{
    opacity: 1;
    border-bottom: 2px solid #0172CE;
}

/* Header  */
#sony-logo{
    width: 80px;
}

.navbar-chevronDown, .navbar-chevronDown-hover{
    width: 10px;
}

/* Jumbo section  */
#jumbo{
    background-image: url('./img/jumbo-bg.png');
    background-position: center;
    height: 650px;
}

.card-title{
    font-size: 37px;
}

/* PS% Img and info section  */
